/* BRANDING */

#woocommerce_dintero_checkout_branding_title+.form-table tbody {
    display: flex;
    flex-flow: wrap;
    max-width: 1040px;
}

#woocommerce_dintero_checkout_branding_title+.form-table tbody tr:first-child {
    flex: 1 0 100%;
}

#woocommerce_dintero_checkout_branding_title+.form-table tbody tr:not(:first-child):nth-child(n) {
    flex: 1 0 50%;
}


/* Make the preview and input field appear on the same line. */
#woocommerce_dintero_checkout_branding_title+.form-table tbody tr:not(:first-child):nth-child(n) {
    display: flex;
    flex-flow: wrap;
}

@media screen and (max-width: 720px) {
    #woocommerce_dintero_checkout_branding_title+.form-table tbody tr:not(:first-child):nth-child(n) {
        flex-basis: 100%;
    }
    #woocommerce_dintero_checkout_branding_title+.form-table tbody tr:not(:first-child):nth-child(n) {
        display: block;
    }
}