.dintero-checkout-pip {
    display: block;
    font-size: 0.9em;
    box-shadow: 1px 1px 5px -1px grey;
    padding: 5px;
    border-radius: 5px;
}

.woocommerce-checkout-review-order-table .dintero-checkout-pip::before {
    display: none;
}

.dintero-checkout-no-spinner::before {
    display: none !important;
}

/* Desktop view / multi columns */
@media only screen and (min-width : 769px) {

    .dintero-checkout-two-column-right #dintero-express-wrapper {
        display: grid;
        grid-template-columns: 4fr 6fr;
        grid-column-gap: 70px;
    }

    .dintero-checkout-two-column-left #dintero-express-wrapper,
    .dintero-checkout-two-column-left-sf #dintero-express-wrapper {
        display: grid;
        grid-template-columns: 6fr 4fr;
        grid-column-gap: 70px;
    }

    .dintero-checkout-two-column-left #dintero-checkout-order-review,
    .qliro-two-column-left-sf #dintero-checkout-order-review {
        order: 2;
    }

    .dintero-checkout-two-column-left #dintero-express-form,
    .dintero-checkout-two-column-left-sf #dintero-express-form {
        order: 1;
    }
}