/* BRANDING */

#woocommerce_dintero_checkout_branding_title+.form-table tbody {
    display: flex;
    flex-flow: wrap;
    max-width: 1040px;
}

#woocommerce_dintero_checkout_branding_title+.form-table tbody tr:nth-child(n) {
    flex: 1 0 50%;
}


/* Make the preview and input field appear on the same line. */

#woocommerce_dintero_checkout_branding_title+.form-table tbody tr:not(:first-child):nth-child(n) td {
    display: flex;
}

#woocommerce_dintero_checkout_branding_logo_color_custom {
    width: 80%;
}

@media screen and (max-width: 720px) {
    /* Move the input fields to their own lines. */
    #woocommerce_dintero_checkout_branding_title+.form-table tbody tr:not(:first-child):nth-child(n) {
        flex-basis: 100%;
    }
    #woocommerce_dintero_checkout_branding_title+.form-table tbody tr:not(:first-child):nth-child(n) {
        display: block;
    }
}