#payment ul.payment_methods li img.dintero-logos {
    min-height: 58px;
    float: left;
}

#payment ul.payment_methods label[for="payment_method_dintero_checkout"]:after {
    content: '';
    display: block;
    clear: left;
}